@import "compass/css3";
@import "compass/reset";


$sans: helvetica, arial, sans-serif;

	body { 
		//font-size:62.5%;
		font-family: helvetica, arial, sans-serif; 
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
	}

	h3 {
		font-size: 2rem;
		margin: 0rem 0 1rem;
		font-weight: 700;
		text-align: left;
		small {
			font-size: 40%;
			color: lightgrey;
			font-weight: 100;
			margin-left: 15px;
		}
	}
	h1,h2,h3,p {
		font-family: helvetica, arial, sans-serif;
	}

	p {
		font-size: 1rem;
	}

	button:focus {
		outline:0;
	}
	.row {
		width: 600px;
		position: relative;
		margin: -20px auto 0;
	}
	.box {
		width: 280px;
		height: 280px;
		float: left;
		cursor: pointer;
		margin-right: 15px;
	}
	
	#true {
		background: lightgreen;
		@include transition(0.2s all);
		&:hover {
			background: green;
		}
	}
	#false {
		background: salmon;
		@include transition(0.2s all);
		&:hover {
			background: red;
		}
	}

	.hide {
		display: none;
	}

.button {
	cursor: pointer;
	background: transparent;;
	padding: 15px 20px 14px;
	width: 200px;
	border: 1px solid black;
	clear: both;
	margin: 15px auto 0;
	font-size: 1rem;
	font-family: $sans;
	@include transition(0.3s all);
		&:hover {
			background-color: black;
			border-color: black;
			color: white;
		}
}

.score {
	margin-top: 15px;
	margin-right: 15px;
	padding: 10px;
	background: black;
	color: white;
	width: 30px;
	height: 30px;
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 30px;
	float: left;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	&.is-visible {
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;			
	}
}

#modal {
	background-color: rgba(0,0,0,0.8);
	@extend .modal;
	p {
		text-align: center;
    	color: white;
	}
}


#modalCorrect {
	background-color: rgba(255,255,255,1);
	@extend .modal;
	h3 {
		color: black;
	}
}

#modalWrong {
	background-color: rgba(0,0,0,1);
	@extend .modal;
	h3 {
		color: white;
	}
}


/*

					 __________
					/\         \
				   /  \			\
				  /    \         \
				 /      \         \
				/        \         \
	  		   /          \         \
			  /     /\     \         \
			 /     /  \     \_________\
			/ 	   \  /     /         /
           /	    \/     /
          /               /_________/
               /\        /
          
*/




